@import '../../styles/vars.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: $def;
  padding: 15px;
  cursor: auto;
  transform: translateY(50%);
  opacity: 0;
  transition: all .2s linear .3s;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }

  &__headline,
  &__control {
    margin-bottom: 10px;
  }

  &__control,
  &__btnwrap {
    position: relative;
    flex-grow: 1;
  }

  &__action {
    display: flex;
  }

  &__action > button:first-child {
    margin-right: 10px;
  }
}