@import '../../styles/vars.scss';

.create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 20px;
  border: 1px solid $base;
  border-radius: 8px;
}

.total {
  color: $neutral-main;
  font-size: 16px;
}