@import "../../styles/vars.scss";
@import "../../styles/mixins/box.mixin.scss";
@import "../../styles/mixins/title.mixin.scss";
@import "../../styles/mixins/container.mixin.scss";

.details {
  @include container;
  background-color: $def;
  line-height: 1.5rem;
  padding: 40px 25px;
  cursor: auto;

  &__body {
    margin: 20px 0px;
    padding: 15px;
    background-color: $light;
    border-radius: 8px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
  }
}

.box {
  @include box;

  & > button:first-child {
    margin-right: 10px;
  }
}

.note__title {
  @include title;
  padding: 10px 0px;
}

.note__meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0px;

  & > p {
    margin-left: 10px;
    color: $neutral-regular;
  }
}