@import "../../styles/vars.scss";
@import "../../styles/mixins/box.mixin.scss";
@import "../../styles/mixins/title.mixin.scss";

.list {
  margin-top: 30px;
}

.note {
  min-height: 225px;
  border: 1px solid $base;
  border-radius: 5px;
  padding: 25px 20px;
  line-height: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 15px;
  }

  &__title {
    @include title;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__handle {
    color: $neutral-regular;
    cursor: grab;
  }

  &__body {
    width: 90%;
    font-size: 16px;
    margin: 25px 0px;
    flex-grow: 1;
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.box {
  @include box;
}

.picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: $neutral-placeholder;
}

.meta {
  line-height: 1.4;

  &__name {
    font-size: 16px;
  }

  &__date {
    font-size: 12px;
    color: $neutral-regular;
  }
}

